.gift-image-container {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto 2em auto;
}

.gift-image, .recipient-image {
  height: 100%;
}

.recipient-image-container {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto 2em auto;
}